<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
             Automated tuning of hyper-parameters for deep neural networks. Experience with <b>Caffe, Torch</b> and <b>Keras</b>.
        </h5>

        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
            Programming abstractions to enable distributed, low-latency, streaming data analytics using messaging brokers. Performance modeling and correctness of <b>Spark</b> programs.
        </h5>

         <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
           Speech-driven, NLP-based, data visualization and discovery in a <i>cognitive room</i> environment.
        </h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
			Investigating user-friendly programming abstractions to enable rapid development of reactive, data-driven web applications. Experience with various JavaScript frameworks including <b>Meteor</b> and <b>React</b>.
		</h5>

        <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
        Automated bug hunting and verification of sequential/concurrent software systems using mathematical modeling, constraint solving and compiler technologies. Experience with Java and C compilers (<b>LLVM</b>) and <b>SMT</b> constraint solvers.
        </h5>
        

    </div>
  </div>
</div>
</section>
