<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
            Deep Learning based Program Synthesis for Text, Vision and Speech/Music. Interpretability, VI, GANs and more.
        </h5>

         <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
           Speech-driven, NLP-based, data analytics and discovery in a <i>cognitive room</i> environment.
        </h5>


           <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
            Programming abstractions for fast and error-free distributed computation. 
        </h5>

        <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#"></a></strong>
        Automated bug hunting and invariant generation for sequential/concurrent software systems using mathematical modeling, constraint solving and compiler technologies. Model checking.
        </h5>
        

    </div>
  </div>
</div>
</section>
