<section id="pubs">
<div class="container">
  <h3>Publications (selected, see <a href="http://dblp.uni-trier.de/pers/hd/s/Sinha:Nishant">DBLP</a>)</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <ul class="list-group">        
        <li class="list-group-item"> Nishant Sinha, Rezwana Karim, Monika Gupta: Simplifying Web Programming. ISEC 2015: 80-89  (<span class="text-danger">Best Paper Award</span>)

        <li class="list-group-item"> Nishant Sinha, Rezwana Karim: Responsive designs in a snap. ESEC/SIGSOFT FSE 2015: 544-554

        <li class="list-group-item"> Yu-Fang Chen, Chih-Duo Hong, Nishant Sinha, Bow-Yaw Wang: Commutativity of Reducers. TACAS 2015: 131-146

        <li class="list-group-item"> Sagar Chaki, Arie Gurfinkel, Nishant Sinha: Efficient verification of periodic programs using sequential consistency and snapshots. FMCAD 2014: 51-58

        <li class="list-group-item"> Vijayaraghavan Murali, Nishant Sinha, Emina Torlak, Satish Chandra: What Gives? A Hybrid Algorithm for Error Trace Explanation. VSTTE 2014: 270-286

        <li class="list-group-item"> Suresh Thummalapenta, K. Vasanta Lakshmi, Saurabh Sinha, Nishant Sinha, Satish Chandra: Guided test generation for web applications. ICSE 2013: 162-171

        <li class="list-group-item"> Nishant Sinha, Rezwana Karim: Compiling mockups to flexible UIs. ESEC/SIGSOFT FSE 2013: 312-322

        <li class="list-group-item"> Nishant Sinha, Nimit Singhania, Satish Chandra, Manu Sridharan: Alternate and Learn: Finding Witnesses without Looking All over. CAV 2012: 599-615
        <li class="list-group-item"> Jing Yang, Gogul Balakrishnan, Naoto Maeda, Franjo Ivancic, Aarti Gupta, Nishant Sinha, Sriram Sankaranarayanan, Naveen Sharma: Object Model Construction for Inheritance in C++ and Its Applications to Program Analysis. CC 2012: 144-164

        <li class="list-group-item"> Nishant Sinha, Chao Wang: On interference abstractions. POPL 2011: 423-434

        <li class="list-group-item"> Nishant Sinha: Modular bug detection with inertial refinement. FMCAD 2010: 199-206

        <li class="list-group-item"> Gogul Balakrishnan, Malay K. Ganai, Aarti Gupta, Franjo Ivancic, Vineet Kahlon, Weihong Li, Naoto Maeda, Nadia Papakonstantinou, Sriram Sankaranarayanan, Nishant Sinha, Chao Wang: Scalable and precise program analysis at NEC. FMCAD 2010: 273-274

        <li class="list-group-item"> Nishant Sinha, Chao Wang: Staged concurrent program analysis. SIGSOFT FSE 2010: 47-56 (<span class="text-danger">ACM SIGSOFT Distinguished Paper Award</span>)

        <li class="list-group-item"> Vineet Kahlon, Nishant Sinha, Erik Kruus, Yun Zhang: Static data race detection for concurrent programs with asynchronous calls. ESEC/SIGSOFT FSE 2009: 13-22

        <li class="list-group-item"> Sagar Chaki, Edmund M. Clarke, Natasha Sharygina, Nishant Sinha: Verification of evolving software via component substitutability analysis. Formal Methods in System Design 32(3): 235-266 (2008)

        <li class="list-group-item"> Nishant Sinha: Symbolic Program Analysis Using Term Rewriting and Generalization. FMCAD 2008: 1-9

        <li class="list-group-item"> Nishant Sinha, Edmund M. Clarke: SAT-Based Compositional Verification Using Lazy Learning. CAV 2007: 39-54
    </ul>

        

    </div>
  </div>

  <h3>Professional Service</h3>
    <div class="panel panel-body">
        <ul class="list-group">
            <li class="list-group-item"> Program Committee Co-Chair for ISEC'16

            <li class="list-group-item"> Program Committee Member for several top-tier international conferences including CAV, POPL, FSTTCS, VSTTE.

            <li class="list-group-item"> Co-supervised over 20 students as internship supervisor and mentor
        </ul>
    </div>

</div>
</section>

